{% import "wires-wide.html" as wires_wide %}
{% import "wires-narrow.html" as wires_narrow %}
{% import "page-card.html" as page_card %}
{% import "nav.html" as nav %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    {% block social %}
    {% if config.extra.social %}
    <meta name="description" content="{{ config.extra.social.description }}" />

    <meta property="og:url" content="{{ config.base_url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ config.title }}">
    <meta property="og:description" content="{{ config.extra.social.description }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="{{ config.extra.social.domain }}">
    <meta property="twitter:url" content="{{ config.base_url }}">
    <meta name="twitter:title" content="{{ config.title }}">
    <meta name="twitter:description" content="{{ config.extra.social.description }}">

    {% if config.extra.social.main_page_image %}
    <meta property="og:image" content="{{ config.base_url }}/{{ config.extra.social.main_page_image }}">
    <meta name="twitter:image" content="{{ config.base_url }}/{{ config.extra.social.main_page_image }}">
    {% endif %}
    {% endif %}
    {% endblock title %}

    <link rel="stylesheet" href="{{ config.base_url }}/rahix.css" />
    <link rel="alternate" title="{{ config.title }}" type="application/atom+xml" href="{{ config.base_url }}/atom.xml" />

    <noscript>
      <style>
        .js-only {
          display: none !important;
        }
      </style>
    </noscript>
  </head>
  <body>
    <div class="rx-wires rx-wide">
      <span class="js-only">
        <svg viewBox="0 0 1000 500" xmlns="http://www.w3.org/2000/svg">
          {{ wires_wide::js() }}
        </svg>
      </span>
      <noscript>
        <svg viewBox="0 0 1000 500" xmlns="http://www.w3.org/2000/svg">
          {{ wires_wide::nojs() }}
        </svg>
      </noscript>
    </div>
    <div class="rx-wires rx-narrow">
      <span class="js-only">
        <svg viewBox="0 0 1000 500" xmlns="http://www.w3.org/2000/svg">
          {{ wires_narrow::js() }}
        </svg>
      </span>
      <noscript>
        <svg viewBox="0 0 1000 500" xmlns="http://www.w3.org/2000/svg">
          {{ wires_narrow::nojs() }}
        </svg>
      </noscript>
    </div>
    <div class="rx-header-links">
      <svg viewBox="0 0 1000 500" xmlns="http://www.w3.org/2000/svg">
        <a href="{{ config.base_url }}">
          <g class="rx-logo" transform="scale(0.4)">
            <g transform="matrix(1 0 0 -1 66.3 66.3)" stroke-linejoin="round" stroke-linecap="round">
              <path d="M18.8 48.2l-.2-1.2A31.5 31.5 0 01-2.5-.3a27 27 0 00-15.1-12.3 37.3 37.3 0 0036.4 60.8" fill-rule="evenodd"/>
              <path d="M-51.2-7.8l1.3.4A31.5 31.5 0 011.5-2.1 27 27 0 0019.8-9a37.3 37.3 0 00-71 1.2" fill-rule="evenodd"/>
              <path d="M32.3-40.4l-1 .8A31.5 31.5 0 011 2.4 27 27 0 00-2 21.5a37.3 37.3 0 0034.4-62" fill-rule="evenodd"/>
            </g>
          </g>
          <text x=4 y=152 class="rx-link">&#xf015;</text>
        </a>
        {% if config.extra.author_mail %}
        <a href="mailto: {{ config.extra.author_mail }}">
          <text x=4 y=356 class="rx-link">&#xf1fa;</text>
        </a>
        {% endif %}
      </svg>
    </div>
    {% block header %}
      <div class="rx-header hero section">
        <a class="title has-text-centered" style="font-size: 300%" href="{{ config.base_url }}">{{ config.title }}</a>
      </div>
    {% endblock header %}

    <div id="content-div" class="container section">
      {% block content %}
      <section class="articles">
        {% if paginator %}
          {{ nav::pagination(paginator=paginator) }}
          {% for page in paginator.pages %}
            {{ page_card::card(cfg=config, page=page) }}
          {% endfor %}
          {{ nav::pagination(paginator=paginator) }}
        {% else %}
          {% for page in section.pages %}
            {{ page_card::card(cfg=config, page=page) }}
          {% endfor %}
        {% endif %}
      </section>
      {% endblock content %}
    </div>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <a class="rx-icon-link" href="{{ config.base_url }}">
            <div class="icon is-large">
              <i class="fas fa-3x fa-home"></i>
            </div>
          </a>
          {% if config.extra.author_github %}
          <a class="rx-icon-link" href="{{ config.extra.author_github }}">
            <div class="icon is-large">
              <i class="fab fa-3x fa-github"></i>
            </div>
          </a>
          {% endif %}
          {% if config.extra.author_mail %}
          <a class="rx-icon-link" href="mailto: {{ config.extra.author_mail }}">
            <div class="icon is-large">
              <i class="far fa-3x fa-envelope"></i>
            </div>
          </a>
          {% endif %}
          <a class="rx-icon-link" href="https://github.com/Rahix/blog-theme">
            <div class="icon is-large">
              <i class="fas fa-3x fa-palette"></i>
            </div>
          </a>
          <hr />
          <p>
            <a href="{{ config.base_url }}">{{ config.base_url }}</a>, made using
            <a href="https://www.getzola.org/">Zola</a>,
            <a href="https://bulma.io/">Bulma</a>,
            <a href="https://fontawesome.com/">Font Awesome</a>, and a color palette by
            <a href=https://www.colourlovers.com/palette/4588091/Outrun">Vitalynk</a>.
          </p>
          <p>
            Zola theme can be found on <a href="https://github.com/Rahix/blog-theme">GitHub</a>.
          </p>
        </div>
      </div>
    </footer>

    <script>
      var group_els = document.querySelectorAll(".rx-wires .js-only svg g.wire-group")
      var groups = [];

      group_els.forEach(function(g) {
        groups.push({
          duration: g.getAttribute("data-wire-duration"),
          length: g.children[0].getTotalLength(),
          path: g.children[0],
          circle: g.children[2],
        });
      });

      window.addEventListener("scroll", function () {
        animate();
      });

      function animate() {

        groups.forEach(function(g) {
          var t = Math.min(window.scrollY * 1000 / g.duration, 1000);

          g.path.style = "stroke-dashoffset: -" + (t / 1000 * g.length);
          var pos = g.path.getPointAtLength((t / 1000) * g.length);
          g.circle.cx.baseVal.value = pos.x;
          g.circle.cy.baseVal.value = pos.y;
        });
      }

      animate();
    </script>
  </body>
</html>
