{% extends "index.html" %}

{% block title %}{{ page.title }}{% if page.draft %} [DRAFT]{% endif %} - {{ config.title }}{% endblock title %}

{% block social %}
<meta property="og:url" content="{{ page.permalink }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }}{% if page.draft %} [DRAFT]{% endif %} - {{ config.title }}">

<meta name="twitter:card" content="summary_large_image">
{% if config.extra.social.domain %}<meta property="twitter:domain" content="{{ config.extra.social.domain }}">{% endif %}
<meta property="twitter:url" content="{{ page.permalink }}">
<meta name="twitter:title" content="{{ page.title }}{% if page.draft %} [DRAFT]{% endif %} - {{ config.title }}">

{% if page.extra.social.description %}
<meta name="description" content="{{ page.extra.social.description }}" />
<meta property="og:description" content="{{ page.extra.social.description }}">
<meta name="twitter:description" content="{{ page.extra.social.description }}">
{% endif %}

{% if page.extra.social.image %}
{% set social_image = resize_image(path=page.extra.social.image, width=1200, height=630, op="fit") %}
<meta property="og:image" content="{{ social_image.url }}">
<meta name="twitter:image" content="{{ social_image.url }}">
{% endif %}
{% endblock social %}

{% block header %}
  {% if page.extra.background %}
  <div class="hero rx-image rx-abs" style="background-image: url('{{ config.base_url }}/{{ page.extra.background }}')"></div>
  {% endif %}
  <div class="rx-header hero section">
    <h1 class="title has-text-centered rx-has-image">{{ page.title }}{% if page.draft %} [DRAFT]{% endif %}</h1>
    <div class="tags level-item" style="margin-top: 1em; font-weight: bold;">
      <span class="tag is-rounded is-primary">{{ page.date }}</span>
      {% if page.taxonomies.tags %}
        {% for tag in page.taxonomies.tags %}
          <a class="tag is-rounded is-info" href="{{ config.base_url }}/tags/{{ tag }}">
            {{ tag }}
          </a>
        {% endfor %}
      {% endif %}
      <span class="tag is-rounded has-text-grey">{{ page.reading_time }} min read</span>
    </div>
  </div>
{% endblock header %}

{% block content %}
<div class="content">
  {{ page.content | safe }}
</div>
{% endblock content %}
