{% extends "index.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block header %}
  {% if page.extra.background %}
  <div class="hero rx-image rx-abs" style="background-image: url('{{ config.base_url }}/{{ page.extra.background }}')"></div>
  {% endif %}
  <div class="rx-header hero section">
    <h1 class="title has-text-centered">{{ page.title }}</h1>
  </div>
{% endblock header %}

{% block content %}
<div class="content">
  {{ page.content | safe }}
</div>
{% endblock content %}
