{% macro card(cfg, page) %}
<div class="column is-10 is-offset-1">
  <div class="card article rx-post-card"
      {% if page.extra.background %}
       style="background-image: url('{{ cfg.base_url }}{{ page.extra.background }}')"
      {% endif %}
  >
    <div class="card-content">
      <div class="media">
        <div class="media-content has-text-centered">
          <a href="{{ page.permalink }}" class="title article-title">{{ page.title }}</a>
          <div class="tags has-addons level-item" style="margin-top: 1em; font-weight: bold;">
            <span class="tag is-rounded is-primary">{{ page.date }}</span>
            <span class="tag is-rounded has-text-grey">{{ page.reading_time }} min read</span>
          </div>
        </div>
      </div>
      <div class="media">
        <div class="media-content">
          {% if page.summary %}
            {{ page.summary | safe }}
          {% else %}
            {{ page.content | safe | striptags | truncate }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro card %}
