{% macro js() %}
<defs>
    <style>
        g.wire-group.p36051 .wire {
            stroke-width: 10px;
        }
    </style>
</defs>
<g class="wire-group wire-color-purple p36051" data-wire-duration="250">
    <path class="wire anim" d="M 650 50 L 900 50 L 925 75 L 925 200 L 950 225 L 975 250 L 1020 250" />
    <path class="wire" d="M -20 -20" />
    <circle cx="650" cy="50" r="15" class="wire" />
</g>
<g class="wire-group wire-color-purple p36051" data-wire-duration="150">
    <path class="wire anim" d="M 925 75 L 950 75 L 975 100 L 1020 100" />
    <path class="wire" d="M -20 -20" />
    <circle cx="925" cy="75" r="15" class="wire" />
</g>
<g class="wire-group wire-color-cyan p36051" data-wire-duration="160">
    <path class="wire anim" d="M 400 25 L 100 25 L 75 50 L -20 50" />
    <path class="wire" d="M -20 -20" />
    <circle cx="400" cy="25" r="15" class="wire" />
</g>
<g class="wire-group wire-color-cyan p36051" data-wire-duration="200">
    <path class="wire anim" d="M 950 300 L 975 325 L 975 400 L 1020 445" />
    <path class="wire" d="M -20 -20" />
    <circle cx="950" cy="300" r="15" class="wire" />
</g>
<g class="wire-group wire-color-rose p36051" data-wire-duration="200">
    <path class="wire anim" d="M 250 75 L 100 75 L 50 125 L 50 150 L -20 220" />
    <path class="wire" d="M -20 -20" />
    <circle cx="250" cy="75" r="15" class="wire" />
</g>
<g class="wire-group wire-color-rose p36051" data-wire-duration="300">
    <path class="wire anim" d="M 50 150 L 50 300 L -20 370" />
    <path class="wire" d="M -20 -20" />
    <circle cx="50" cy="150" r="15" class="wire" />
</g>
{% endmacro js %}

{% macro nojs() %}
<defs>
    <style>
        g.wire-group.p84589 .wire {
            stroke-width: 10px;
        }
    </style>
</defs>
<g class="wire-group wire-color-purple p84589">
    <path class="wire" d="M -20 -20" />
    <circle cx="-20" cy="-20" r="15" class="wire" />
</g>
<g class="wire-group wire-color-purple p84589">
    <path class="wire" d="M -20 -20" />
    <circle cx="-20" cy="-20" r="15" class="wire" />
</g>
<g class="wire-group wire-color-cyan p84589">
    <path class="wire" d="M -20 -20" />
    <circle cx="-20" cy="-20" r="15" class="wire" />
</g>
<g class="wire-group wire-color-cyan p84589">
    <path class="wire" d="M -20 -20" />
    <circle cx="-20" cy="-20" r="15" class="wire" />
</g>
<g class="wire-group wire-color-rose p84589">
    <path class="wire" d="M -20 -20" />
    <circle cx="-20" cy="-20" r="15" class="wire" />
</g>
<g class="wire-group wire-color-rose p84589">
    <path class="wire" d="M -20 -20" />
    <circle cx="-20" cy="-20" r="15" class="wire" />
</g>
{% endmacro nojs %}
