<g>
    <path class="wire anim" d="M 650 50 L 800 50 L 850 100 L 900 100 L 950 150 L 950 200" />
    <path class="wire" d="M 1000 425 L 975 425 L 950 400 L 950 200" />
    <circle id="circle" cx="650" cy="50" r="6" class="wire"/>
</g>
<g>
    <path class="wire anim" d="M 250 50 L 150 50 L 50 150" />
    <path class="wire" d="M 50 150 L 25 175 L 0 175" />
    <circle cx="250" cy="50" r="6" class="wire"/>
</g>
<g>
    <path class="wire anim" d="M 500 25 L 100 25 L 75 50 L 50 50" />
    <path class="wire" d="M 50 50 L 0 50" />
    <circle cx="500" cy="25" r="6" class="wire"/>
</g>
<g>
    <path class="wire anim" d="M 950 100 L 975 125 L 975 200" />
    <path class="wire" d="M 975 200 L 975 250 L 990 265 L 1000 265" />
    <circle cx="950" cy="100" r="6" class="wire"/>
</g>
<g>
    <path class="wire anim" d="M 825 75 L 975 75" />
    <path class="wire" d="M 975 75 L 1000 75" />
    <circle cx="825" cy="75" r="6" class="wire"/>
</g>
<g>
    <path class="wire anim" d="M 50 150 L 50 300" />
    <path class="wire" d="M 50 300 L 50 350 L 25 375 L 0 375" />
    <circle cx="50" cy="150" r="6" class="wire"/>
</g>
